aws_region  = "us-east-1"
environment = "dev"
name_prefix = "llm-rag"

vpc_cidr             = "10.40.0.0/16"
public_subnet_cidrs  = ["10.40.0.0/20", "10.40.16.0/20"]
private_subnet_cidrs = ["10.40.128.0/20", "10.40.144.0/20"]

cluster_version                     = "1.33"
cluster_endpoint_public_access_cidrs = ["203.0.113.10/32"]

node_instance_types = ["t3.medium"]
node_min_size       = 1
node_desired_size   = 2
node_max_size       = 3
node_disk_size      = 30

rag_api_namespace            = "rag"
rag_api_service_account_name = "rag-api"
force_destroy_document_bucket = false

tags = {
  Owner = "replace-me"
}
